<!DOCTYPE html>
<!-- This template was created by Charlotte Pickett ISM 5994 -->
<html lang="en">
<head>
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
</head>
<body>

	<!-- Charlotte's World Webpage -->
	<header>
		Forward Fitness Club
	</header>
	
	<!-- Charlotte's World Webpage -->
	<nav>
		Home &nbsp; &nbsp;
		About Us &nbsp; &nbsp;
		Classes &nbsp; &nbsp;
		Nutrition &nbsp; &nbsp;
		Contact Us &nbsp; &nbsp;
	</nav>
	
	<!-- Charlotte's World Webpage -->
	<main>
	</main>

	<!-- Charlotte's World Webpage -->
	<footer>
		&copy; Copyright 2015. All Rights Reserved. <br>
		forwardfitness@club.net
	</footer>

</body>
</html>